<% provide(:title, @user.name) %>
<p class="profile">
  <b>User Profile</b>
</p>

<p class="info">
  <%= gravatar_for @user %>
  <br>
   <b>User name: </b><%= @user.name %>
   <br>
   <b>User email: </b><%= @user.email %>
   <br><br><br>
</p>

 

   <div class="col-md-8">
    <% if @user.microposts.any? %>
      <p class="profile">
  <b>Feed</b>(<%= @user.microposts.count %>)
</p>  
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
