<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> | SewPurpleCreations </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
        <ul>
            <li><a href="https://jackson-project-jacksovm.c9users.io/static_pages/home">Home</a></li>
            <li><a href="https://jackson-project-jacksovm.c9users.io/static_pages/blog">Blog</a></li>
            <li><a href="https://jackson-project-jacksovm.c9users.io/static_pages/shop">Shop</a></li>
            <li><a href="https://jackson-project-jacksovm.c9users.io/static_pages/cart">Cart</a></li>
        </ul>
          <h1>Sew Purple Creations</h1>
<p><%= yield %></p>
<%= link_to image_tag("SewPurple logo.jpg", alt:"image of the shop logo"), 'https://jackson-project-jacksovm.c9users.io/static_pages/home', class:"small" %>
</body>
</html>
